<% layout("/layouts/boilerplate") %>
    <div class="row mt-3">
        <div class="col-8 offset-2">

            <h3>Edit your listing</h3>
            <form novalidate enctype="multipart/form-data" class="needs-validation" method="post"
                action="/listings/<%=listing._id%>?_method=PUT">
                <div class="mb-3">
                    <label class="form-label" for="title">Title</label>
                    <input required class="form-control" name="listing[title]" value="<%=listing.title %>" type="text">
                    <div class="novalid-feedback">
                        Please enter the valid detail.
                    </div>
                </div>

                <div class="mb-3">
                    <label class="form-label" for="description">Description</label>
                    <textarea required class="form-control" name="listing[description]" cols="20" rows="10"
                        id=""><%=listing.description %></textarea>
                    <div class="novalid-feedback">
                        Please enter the valid detail.
                    </div>
                </div>

                <div class="mb-3">
                    Original listing image <br>
                    <img style="width: 300px;" src="<%= originalImageUrl %>" alt="">
                </div>

                <div class="mb-3">
                    <label class="form-label" for="image">Upload new image</label>
                    <input class="form-control" name="listing[image]" type="file">
                    <div class="novalid-feedback">
                        Please enter the valid detail.
                    </div>
                </div>

                <div class="row">

                    <div class="mb-3 col-md-4">
                        <label class="form-label" for="price">Price</label>
                        <input required class="form-control" name="listing[price]" value="<%=listing.price %>"
                            type="text">
                        <div class="novalid-feedback">
                            Please enter the valid detail.
                        </div>
                    </div>

                    <div class="mb-3 col-md-8">
                        <label class="form-label" for="country">Country</label>
                        <input required class="form-control" name="listing[country]" value="<%=listing.country %>"
                            type="text">
                        <div class="novalid-feedback">
                            Please enter the valid detail.
                        </div>
                    </div>

                </div>

                <div class="mb-3">
                    <label class="form-label" for="location">Location</label>
                    <input required class="form-control" name="listing[location]" value="<%=listing.location %>"
                        type="text">
                    <div class="novalid-feedback">
                        Please enter the valid detail.
                    </div>
                </div>

                <div class="mb-3">
                    <label class="form-label" for="category">Category</label>
                    <select name="listing[category]" id="category" class="form-select" required>
                        <option value="">Select category</option>
                        <option value="trending">Trending</option>
                        <option value="rooms">Rooms</option>
                        <option value="iconic_cities">Iconic Cities</option>
                        <option value="mountains">Mountains</option>
                        <option value="castles">Castles</option>
                        <option value="arctic">Arctic</option>
                        <option value="camping">Camping</option>
                        <option value="farms">Frams</option>
                        <option value="amazing_pools">Amazing Pools</option>
                    </select>

                </div>

                <button class="btn btn-dark add-btn">Update</button>

            </form>

        </div>
    </div>